.category {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &:first-child {
        margin-top: 30px;
    }
    
    &__name {
        font-size: 20px;
        color: #666666;
        letter-spacing: 0;
        line-height: 24px;
        border-bottom: 1px solid #e4e4e4;
        padding: 10px 0;
        font-weight: 600;
    }

    &__tag {
        padding: 10px 0;
        display: flex;
    }
}