.header-logo {
    color: #ffffff;
    font-size: 13px;

    &__container {
        margin: 1em 0 1em 2em;
        padding: 1em 0.5em;
        background-color: #b1c1c9;
        // background-color: #fff;
        // opacity: 0.64;
    }
}